/*
utils: spacers.scss
*/

.m {
  &l {
    &-24 {
      margin-left: 24px;
    }
  }
  &r {
    &-24 {
      margin-right: 24px;
    }
  }
  &t {
    &-24 {
      margin-top: 24px;
    }
  }
  &b {
    &-24 {
      margin-bottom: 24px;
    }
  }
}

.p {
  &l {
    &-24 {
      padding-left: 24px;
    }
  }

  &r {
    &-24 {
      padding-right: 24px;
    }
  }

  &t {
    &-24 {
      padding-top: 24px;
    }
  }

  &b {
    &-24 {
      padding-bottom: 24px;
    }
  }
}
