/*
 base: base-styles.scss
*/
@import "vars";

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: $gray-l;
}

a {
  text-decoration: none;
  color: $yellow-d;
  &:hover {
    color: $yellow-l;
  }
}
