/*
base: vars.scss
*/

//global unit

$unit: 4px;

//colors

$black: #06171e;
$white: #ffffff;
$gray-d: #363636;
$gray-l: #585659;
$yellow-d: #fc9e01;
$yellow-l: #fdbf54;

$color-error: #a50404;
$color-succes: #036103;
